 body {
     height: 100vh;
     /* ocupa toda a altura da tela */
     margin: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     /* centraliza verticalmente */
     align-items: center;
     /* centraliza horizontalmente */
     font-family: Arial, sans-serif;
     background-color: #f4f4f4;
 }
 .caixa{
    background-color: rgb(14, 159, 199);
    width: 100vw;
    height: 60vh;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #f4f4f4;
 }
 .caixa img{
   width: 20vw;
 }

 h1 {
     margin-bottom: 20px;
 }

 input,
 button {
     margin: 5px 0;
     padding: 10px;
     font-size: 16px;
     width: 250px;
     box-sizing: border-box;
 }
 button{
    border-radius: 10%;
    background-color: rgb(14, 159, 199);
    color: #f4f4f4;
    cursor: pointer;
 }

 p {
     margin: 10px 0;
     font-size: 18px;
 }